body {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  background-image: url(./images/bg-intro-desktop.png);
  background-repeat: no-repeat;
  background-color: hsl(0, 100%, 74%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 95vh;
}
.component {
  display: flex;
}
.first {
  width: 400px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.first h1 {
  font-size: 3.5em;
  margin: 0;
}
.first p {
  font-weight: 900;
}
.second {
  width: 400px;
  padding: 40px;
}
.second_one {
  text-align: center;
  background-color: hsl(248, 32%, 49%);
  border-radius: 7px;
  padding: 1px;
  color: hsl(246, 25%, 77%);
  box-shadow: 5px 7px hsl(249, 10%, 26%);
}
.second_one span {
  color: white;
}
.second_two {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  background-color: white;
  margin-block-start: 20px;
  padding: 20px;
  box-shadow: 0 7px hsl(249, 10%, 26%);
}
input {
  margin-block-start: 10px;
  margin-block-end: 10px;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid hsl(246, 25%, 77%);
}
input::placeholder {
  color: hsl(249, 10%, 26%);
  font-weight: 800;
  letter-spacing: 1;
}
button {
  background-color: hsl(154, 59%, 51%);
  border: none;
  padding: 15px;
  text-transform: uppercase;
  color: white;
  font-weight: bolder;
  font-size: 0.9em;
  border-radius: 5px;
  cursor: pointer;
}
.second_two p {
  text-align: center;
  font-size: 0.7em;
  color: hsl(246, 25%, 77%);
  font-weight: 900;
}
.second_two a {
  color: hsl(0, 100%, 74%);
  text-decoration: none;
}

@media screen and (max-width: 420px) {
  body {
    min-height: 85vh;
  }
  .component {
    flex-direction: column;
    width: 100%;
  }
  .first {
    width: 100%;
    text-align: center;
  }
  .first h1 {
    font-size: 2.8em;
  }
  .first p {
    width: 250px;
    font-weight: 700;
  }
  .second {
    width: 100%;
    padding: 0;
    margin-block-start: 40px;
  }
}
